@model IEnumerable<pf_final_ds2.Models.Inscripcion>

@{
    ViewData["Title"] = "Inscripciones";
}

<h1>Inscripciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Estudiante</th>
            <th>Materia</th>
            <th>Semestre</th>
            <th>Fecha Inscripci칩n</th>
            <th>Acci칩n</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inscripcion in Model)
        {
            <tr>
                <td>@inscripcion.Id</td>
                <td>@inscripcion.Estudiante?.NombreCompleto</td>
                <td>@inscripcion.Materia?.Nombre</td>
                <td>@inscripcion.Semestre?.Nombre</td>
                <td>@inscripcion.FechaInscripcion.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@inscripcion.Id" class="btn btn-warning btn-sm">Editar</a>
                    <form asp-action="Delete" asp-route-id="@inscripcion.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt">Eliminar</i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Nueva Inscripci칩n</a>
<a asp-action="Index" asp-controller="Admin" class="btn btn-secondary mt-2">Volver Atr치s</a>